.header {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}
.site-nav {
  display: flex;
  align-items: center;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
